.bonuses {
    /*block model*/
    padding-top: 10px;
    padding-bottom: 37px;
}

.bonus-item {
    // block model
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
    clear: both;
    
    // visual
    background-repeat: no-repeat;
    background-position: 20px 20px;
    
    &__caption {
        // block model
        margin: 0;
        padding: 0;
        padding-left: 50px;
        padding-bottom: 15px;
        
        font-size: 18px;
    }
    
    &__text {
        // block model
        margin: 0;
        padding: 0;
        padding-left: 50px;
        
        // typography
        font-size: 14px;
        line-height: 21px;
    }
    
    &__icon {
        // positioning
        position: relative;
        
        // block model
        float: left;
    }
    
    &--accomodation {
        & .bonus-item__icon {
            top: -11px;
            left: 2px;
            
            width: 38px;
        }
    }
    
    &--gift {
        & .bonus-item__icon {
            top: -13px;
            left: 5px;
            
            width: 32px;
        }
    }
    
    &--food {
        & .bonus-item__icon {
            top: -7px;
            left: -1px;
            
            width: 39px;
        }
    }
}

@media (min-width: 768px) {
    .bonuses {
        // block model
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .bonus-item {
        // block model
        padding: 0;
        width: 33%;
        float: left;
        
        // typography
        text-align: center;
    }
}