.form-label {
    // block model
    display: block;
    padding: 0 22px;
    padding-bottom: 10px;
    
    //typography
    font-size: 14px;
    
    & span {
        color: #ff0000;
    }
    
    &--radio {
        @include formLabelInline;
        padding: 0;
        padding-top: 6px;
        padding-bottom: 6px;
        
        &::before {
            content: '';

            // block model
            box-sizing: border-box;
            @include formSelectorPseudoStyles;
            margin-right: 12px;

            // visual
            background-color: $formFieldBackground;
            border: 17px solid $formFieldBackground;
            border-radius: 50%;
        }
        
        @include formSelectorStyles;
    }
    
    &--checkbox {
        @include formLabelInline;
        padding: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        
        &::before {
            content: '';
            
            // block model
            @include formSelectorPseudoStyles;
            margin-right: 24px;
            
            // visual
            background-color: $formFieldBackground;
            border-radius: 5px;
        }
        
        &::after {
            content: '';
            
            // positioning
            position: absolute;
            left: 17px;
            top: 30px;
            
            // block model
            box-sizing: border-box;
            display: inline-block;
            vertical-align: middle;
            height: 14px;
            width: 22px;
            
            // visual
            background-color: $formFieldBackground;
        }
        
        @include formSelectorStyles;
        
        &:hover::after {
            background-color: $formFieldsetOutline;
            border-color: $formFieldsetOutline;
        }

        &:active::after {
            background-color: $formSelectorDownBorder;
            border-color: $formSelectorDownBorder;
        }
    }
}