.form-traveler-group {
    // block model
    padding-top: 22px;
    margin-bottom: -7px;
    
    // typography
    font-size: 0;
    
    &::after {
        content: '';
        
        // block model
        display: table;
        width: 100%;
        clear: both;
    }
    
    &__traveler {
        // block model
        float: right;
        width: 210px;
        
        // typography
        font-size: 0;
    }
    
    &__counter {
        // block model
        float: left;
        width: 61px;
        
        // typography
        text-align: center;
        
        & span {
            // block model
            display: block;
            
            &:first-of-type {
                padding-top: 20px;
                padding-bottom: 10px;
                
                font-size: 14px;
            }
            
            &:last-of-type {
                // typography
                font-size: 18px;
                font-weight: bold;
                line-height: 58px;
                
                // visual
                background-color: $formFieldBackground;
            }
        }
    }
}

@media (min-width: 768px) {
    .form-traveler-group {
        margin-bottom: -9px;
        
        &__traveler {
            // block model
            display: flex;
            justify-content: space-between;
            
            width: 583px;
        }
    }
}

@media (min-width: 1200px) {
    
}