.form-fieldset {
    // positioning
    position: relative;
    margin: 0;
    
    // block model
    border: none;
    border-top: 1px solid $formFieldsetOutline;
    padding: 20px;
    padding-top: 53px;
    padding-bottom: 23px;
    
    &--impression {
        // block model
        padding-bottom: 21px;
    }
    
    &--travel-dates {
        // block model
        padding-top: 48px;
        padding-bottom: 20px;
    }
    
    &--travelers {
        // block model
        padding-top: 52px;
        padding-bottom: 32px;
    }
    
    &--sights {
        // block model
        padding-top: 75px;
        padding-bottom: 12px;
    }
    
    &--upload-photo {
        // block model
        padding-top: 61px;
        padding-bottom: 79px;
    }
    
    &__legend {
        // positioning
        position: absolute;
        top: 19px;
        left: 0;
        
        // block model
        display: block;
        width: 100%;
        
        // typography
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 26px;
    }
}

@media (min-width: 768px) {
    .form-fieldset {
        // block model
        margin: 0 60px;
        padding: 0 0;
        
        // typography
        font-size: 0;
        
        &__legend {
            // positioning
            position: relative;
            top: 1px;
            
            // block model
            width: 400px;
            
            // typography
            font-size: 21px;
        }
        
        &--introduce {
            // block model
            padding-top: 10px;
            padding-bottom: 65px;
        }
        
        &--impression {
            // block model
            padding-top: 27px;
            padding-bottom: 52px;
        }
        
        &--travel-dates {
            // block model
            padding-top: 9px;
            padding-bottom: 64px;
        }
        
        &--travelers {
            // block model
            padding-top: 10px;
            padding-bottom: 75px;
        }
        
        &--sights {
            // block model
            padding-top: 30px;
            padding-bottom: 30px;
            padding-bottom: 33px;
            
            // typography
            text-align: center;
        }
        
        &--upload-photo {
            // block model
            padding-top: 58px;
        }
    }
}

@media (min-width: 1200px) {
    .form-fieldset {
        // block model
        margin: 0 122px;
        
        &--impression {
            // block model
            padding-left: 3px;
            // typography
            text-align: center;
        }
    }
}