.hero {
    // positioning
    position: relative;
    text-align: center;
    
    // block model
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 390px;
    width: 100%;
    
    /*visual*/
    background-image:
        url(../img/intro-triangle.svg),
        url(../img/photo-background@1x.jpg);
    background-position: center bottom, center 0px;
    background-repeat: no-repeat;
    background-size: 768px, 768px;
    
    &--inner-page {
        // block model
        height: 214px;
        
        // visual
        background-image:
            url(../img/intro-triangle.svg),
            url(../img/photo-background@1x.jpg);
        background-position: center bottom, center 1px;
        background-repeat: no-repeat;
        background-size: 768px, 100%;
        
        & .hero__sedona {
            // block model
            width: 176px;
            padding-top: 9px;
        }
    }
    
    &__caption {
        display: none;
    }
    
    &__welcome {
        // block model
        width: 144px;
        padding-top: 42px;
        
        fill: #81b3d2;
    }
    
    &__gorgeous {
        // block model
        width: 196px;
        
        fill: #766357;
    }
    
    &__sedona {
        // block model
        width: 280px;
        padding-top: 40px;
        
        fill: #ffffff;
    }
    
    &__because {
        // block model
        width: 196px;
        padding-top: 38px;
        
        fill: #ffffff;
    }
    
    &__menu-button {
        // positioning
        position: absolute;
        right: 20px;
        top: -39px;
        z-index: 1;
        
        // block model
        height: 22px;
        width: 23px;
        
        // visual
        background-image: url(../img/icon-menu.svg);
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .hero {
        height: 512px;
        
        &__welcome {
            // block model
            width: 190px;
            padding-top: 76px;
        }
        
        &__gorgeous {
            // block model
            width: 256px;
            padding-top: 12px;
        }

        &__sedona {
            // block model
            width: 458px;
            padding-top: 51px;
        }
        
        &__because {
            // block model
            width: 296px;
            padding-top: 54px;
            margin-left: -13px;
        }
        
        &--inner-page {
            // block model
            height: 346px;

            // visual
            background-image:
                url(../img/intro-triangle.svg),
                linear-gradient(#fff 0px, #fff 56px, transparent 56px),
                url(../img/photo-background@1x.jpg);
            background-position: center bottom, 0 0, center -124px;
            background-repeat: no-repeat;
            background-size: 768px, cover, 100%;

            & .hero__sedona {
                // block model
                width: 458px;
                padding-top: 87px;
            }
        }
        
        &__menu-button {
            // block model
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .hero {
        // block model
        height: 507px;
        
        /*visual*/
        background-image:
            url(../img/intro-triangle.svg),
            url(../img/photo-background@1x.jpg);
        background-position: center bottom, center -27px;
        background-repeat: no-repeat;
        background-size: 1200px, 100%;
        
        &--inner-page {
            // block model
            height: 356px;
        }
    }
}