.logo {
    // positioning
    position: relative;
    
    // block model
    height: 70px;
    margin-bottom: -14px;
    z-index: 1;
    
    // typography
    text-align: center;
    
    // visual
    background-image: url(../img/form-logo-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
}