.logo {
    // positioning
    position: relative;
    z-index: 1;
	
    // block model
    height: 70px;
    margin-bottom: -14px;
    
    // typography
    text-align: center;
    
    // visual
    background-image: url(../img/form-logo-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
	
	&__image {
		// positioning
		position: relative;
		z-index: 3;
	}
}