.map {
    // positioning
    position: relative;
    
    // block model
    height: 350px;
    
    // visual
    background-image: url(../img/map-bg.jpg);
    background-position: center;
    
    &__marker {
        // positioning
        position: absolute;
        top: calc(50% - 14px);
        left: calc(50% - 14px);
    }
}