.reason-small {
    // typography
    font-size: 0;
    text-align: center;
    
    // visual
    background-color: #eeeeee;
    
    &__caption {
        // block model
        margin: 0;
        padding-top: 29px;
        
        // typography
        font-size: 18px;
    }
    
     &__seperator {
        // block bodel
        margin: 0;
        padding-top: 11px;
        
        // typography
        font-size: 14px;
    }
    
    &__text {
        // block bodel
        margin: 0 20px;
        padding: 0 10px;
        padding-top: 17px;
        padding-bottom: 27px;
        
        // typography
        font-size: 14px;
        line-height: 1.5;
        
        &--underlined {
            border-bottom: 1px solid #d6d6d6;
        }
    }
}

@media (min-width: 768px) {
    .small-reasons {
        // block model
        display: flex;
        justify-content: space-between;
        height: 256px;
        
        // visual
    background-color: #eeeeee;
    }
    
    .reason-small {
        // block model
        width: 33%;
        
        &__caption {
            // block model
            padding: 0 50px;
            padding-top: 45px;
            
            // typography
            font-size: 21px;
            line-height: 26px;
        }
        
        &__seperator {
            // block model
            padding-top: 11px;
        }
        
        &__text {
            // block model
            padding: 0 20px;
            padding-top: 23px;
            
            &--underlined {
                border-bottom: none;
            }
        }
    }
}

@media (min-width: 1200px) {
    .reason-small {
        &__caption {
            // block model
            padding: 0 120px;
            padding-top: 45px;
        }
        
        &__text {
            // block model
            padding: 0 40px;
            padding-top: 23px;
        }
    }
}