.reason-small {
    /*typography*/
    font-size: 0;
    text-align: center;
    
    // visual
    background-color: #eeeeee;
    
    &__caption {
        /*block bodel*/
        margin: 0;
        padding-top: 30px;
        padding-bottom: 10px;
        
        /*typography*/
        font-size: 18px;
    }
    
    &__text {
        /*block bodel*/
        margin: 0 20px;
        padding: 0 10px;
        padding-bottom: 27px;
        
        /*typography*/
        font-size: 14px;
        line-height: 1.5;
        
        &--underlined {
            border-bottom: 1px solid #d6d6d6;
        }
    }
    
    &__seperator {
        /*block bodel*/
        margin: 0;
        padding-bottom: 17px;
        
        /*typography*/
        font-size: 14px;
    }
}