.reason-big {
    /*positioning*/
    position: relative;
    
    /*typography*/
    color: #ffffff;
    font-size: 0;
    text-align: center;
    
    /*visual*/
    background-color: $colorLightBlue;
    overflow-x: hidden;
    
    &__caption {
        /*block bodel*/
        margin: 0;
        padding-top: 40px;
        padding-bottom: 12px;
        
        /*typography*/
        font-size: 18px;
    }
    
    &__text {
        /*block bodel*/
        margin: 0;
        padding: 0 20px;
        padding-bottom: 40px;
        
        /*typography*/
        font-size: 14px;
        line-height: 21px;
    }
    
    &__seperator {
        /*block bodel*/
        margin: 0;
        padding-bottom: 18px;
        
        /*typography*/
        font-size: 14px;
    }
    
    &__image {
        margin: 0;
        padding: 0;
    }
    
    &--first {
        .reason-big__caption {
            padding-top: 56px;
        }
    }
    
    &--first::before,
    &--first::after {
        content: "";
        
        /*positioning*/
        position: absolute;
        top: 0;
        
        /*block model*/
        display: block;
        width: 50%;
        height: 15px;
    }
    
    &--first::before {
        /*positioning*/
        left: 0;
        
        /*visual*/
        background-image:
            linear-gradient(
                to bottom left,
                #ffffff 0,
                #ffffff 50%,
                transparent 50%,
                transparent
            );
    }
    
    &--first::after {
        /*positioning*/
        right: 0;
                
        /*visual*/
        background-image:
            linear-gradient(
                to bottom right,
                #ffffff 0,
                #ffffff 50%,
                transparent 50%,
                transparent
            );
    }
}

@media (min-width: 768px) {
    .reason-big {
        clear: both;
        
        &__caption {
            // block model
            padding: 0 20px;
            padding-top: 50px;
            
            // typography
            font-size: 21px;
        }
        
        &__content {
            // block model
            float: right;
            width: 33%;
        }
        
        &--first {
            & .reason-big__content {
                // block model
                float: left;
            }
        }
        
        &--first::before,
        &--first::after {
            display: none
        }
    }
}