.slogan {
    // typography
    font-size: 0;
    text-align: center;
    
    &__caption {
        // block bodel
        margin: 0;
        padding-top: 39px;
        padding-bottom: 26px;
        
        // typography
        font-size: 18px;
        line-height: 26px;
    }
    
    &__text {
        // block bodel
        margin: 0;
        padding: 0 20px;
        padding-bottom: 27px;
        
        // typography
        font-size: 14px;
        line-height: 26px;
    }
    
    &__seperator {
        // block bodel
        margin: 0;
        
        // typography
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .slogan {
        &__caption {
            padding-left: 80px;
            padding-right: 80px;
            
            font-size: 21px;
        }
    }
}