@import 'fonts';
@import 'normalize';

@import 'vars';
@import 'mixins';

@import 'main-menu';
@import 'hero';
@import 'slogan';
@import 'reason-big';
@import 'reason-small';
@import 'bonus-item';
@import 'hotels-check';

@import 'form-fieldset';
@import 'form-label';
@import 'form-text-field';
@import 'form-radio';
@import 'form-date-field';
@import 'form-checkbox';
@import 'form-num-selector';
@import 'form-traveler-group';
@import 'form-grey-button';
@import 'form-blue-button';
@import 'form-gallery';


body {
    // temp
    outline: 1px solid $colorLightBlue;
    box-sizing: border-box;
    
    /*block model*/
    margin: 0 auto;
    padding: 0;
    max-width: 320px;
    
    /*typography*/
    font-family: $font;
    text-transform: uppercase;
}

.page-header { position: relative; }

@media (min-width: 768px) {
    body {
        // block model
        max-width: 768px;
    }
}

.map {
    /*block model*/
    padding-bottom: 30px;
    
    /*typography*/
    text-align: center;
}

.page-footer {
    text-align: center;
    
    &__hashtag {
        /*block model*/
        padding-bottom: 40px;
        
        /*typography*/
        font-size: 21px;
        font-weight: bold;
    }
}

.social {
    /*block model*/
    padding-bottom: 50px;
    
    text-align: center;
    
    &__button {
        /*block model*/
        display: inline-block;
        vertical-align: top;
        width: 46px;
        height: 48px;
        
        /*typography*/
        font-size: 0;
        
        /*visual*/
        background-color: $colorMainBlue;
        
        &--twitter {
            background-image: url(../img/icon-twitter.png);
        }
        
        &--facebook {
            background-image: url(../img/icon-facebook.png);
        }
        
        &--youtube {
            background-image: url(../img/icon-youtube.png);
        }
    }
}

.copyrights {
    padding-bottom: 35px;
    
    &__logo{
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        
        font-size: 0;
        
        background-image: url(../img/htmlacademy.svg);
    }
}