@import 'fonts';
@import 'normalize';

@import 'vars';
@import 'mixins';
@import 'fix'; // typography fixes for different states

@import 'main-menu';
@import 'logo';
@import 'hero';
@import 'slogan';
@import 'reason-big';
@import 'reason-small';
@import 'bonus-item';
@import 'hotels-check';
@import 'map';
@import 'page-footer';

@import 'form-fieldset';
@import 'form-label';
@import 'form-text-field';
@import 'form-radio';
@import 'form-date-field';
@import 'form-checkbox';
@import 'form-num-selector';
@import 'form-traveler-group';
@import 'form-grey-button';
@import 'form-blue-button';
@import 'form-gallery';
@import 'form-input-group';


body {
    // temp
    //outline: 1px solid $colorLightBlue;
    box-sizing: border-box;
    
    /*block model*/
    margin: 0 auto;
    padding: 0;
    max-width: 320px;
    
    /*typography*/
    font-family: $font;
    text-transform: uppercase;
}

.page-header { position: relative; }

@media (min-width: 768px) {
    body {
        // block model
        max-width: 768px;
    }
}

@media (min-width: 1200px) {
    html {
        // visual
        background-color: #f2f2f2;
    }
    
    body {
        // block model
        max-width: 1200px;
        
        // visual
        background-color: #ffffff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    }
}