// These styles are used to fix typography through different states
//
// Kurenkov Yuriy
//
// 21.10.2015

.fix {
    &--mobile {
        display: inline;
    }

    &--tablet {
        display: none;
    }

    &--desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .fix {
        &--mobile {
            display: none;
        }

        &--tablet {
            display: inline;
        }

        &--desktop {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .fix {
        &--mobile {
            display: none;
        }

        &--tablet {
            display: none;
        }

        &--desktop {
            display: inline;
        }
    }
}
