.form-gallery {
    // block model
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1px;
    padding-top: 55px;
    padding-bottom: 12px;

    //typography
    font-size: 0;
}

@media (min-width: 768px) {
    .form-gallery {
        // block model
        justify-content: flex-start;
        width: 600px;
        margin-left: 35px;
        padding-top: 88px;
        padding-bottom: 26px;
    }
}

@media (min-width: 1200px) {
    .form-gallery {
        // block model
        width: 100%;
        margin-left: 0;
    }
}
