.form-checkbox {
    // block model
    display: none;

    &:checked + .form-label::after {
        border-bottom: 5px solid $formSelectorColor;
        border-left: 5px solid $formSelectorColor;
        transform: rotate(-45deg);
    }

    &:checked + .form-label:active::after {
        border-bottom: 5px solid $formSelectorDownBack;
        border-left: 5px solid $formSelectorDownBack;
    }
}
