.uploaded-photo {
    // positioning
    position: relative;

    // block model
    padding-bottom: 35px;

    &__remove {
        // positioning
        position: absolute;
        top: -15px;
        left: 20px;

        // block model
        display: block;
        margin: 0 auto;
        margin-bottom: -15px;
        width: 30px;
        height: 30px;

        // visual
        background-color: $formFieldBackground;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(../img/delete.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px;

        &:hover {
            background-color: $formFieldsetOutline;
        }

        &:active {
            background-color: $formSelectorDownBorder;
        }
    }

    &__name {
        // block model
        display: none;
    }
}

@media (min-width: 768px) {
    .uploaded-photo {
        // block model
        margin-right: 65px;
        padding-bottom: 68px;

        &__remove {
            // positioning
            left: auto;
            right: -30px;
            top: -30px;

            // block model
            width: 60px;
            height: 60px;

            // visual
            background-size: 23px;
        }

        &__image {
            // block model
            width: 140px;
            height: 140px;
        }

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        &:last-of-type {
            display: none;
        }

        &__name {
            // block model
            display: block;

            // typography
            font-size: 14px;
        }
    }
}

@media (min-width: 1200px) {
    .uploaded-photo {
        &:nth-of-type(3n) {
            margin-right: 61px;
        }

        &:nth-of-type(5n) {
            margin-right: 0;
        }
    }
}
