$font: "PT Sans", sans-serif;
$colorMainBlue: #81b3d2;
$colorDarkBlue: #678fa8;
$colorLightBlue: #9ac2db;
$colorHoverBlue: #669ec0;
$colorPressBlue: #5496bd;
$colorPressBlueText: #94b9d2;
$formFieldsetOutline: #e5e5e5;
$formFieldBackground: #f2f2f2;
$formFieldOutline: #b8b8b8;
$formSelectorColor: #333333;
$formSelectorDownBorder: #d5d5d5;
$formSelectorDownBack: #a4a4a4;
$formGreyButtonText: #c6c6c6;
$formGreyButtonTextHover: #8c8c8c;
$formGreyButtonTextActive: #afafaf;
$mainMenuItem: #000000;
$mainMenuItemDown: #cacaca;
